.headerSearchSection {
  position: relative;
  z-index: 1;
}

.headerSearchSuggestionList {
  position: absolute;
  top: 0;
  width: 100%;
  border: var(--border-size) solid var(--border-color);
  border-radius: 1.45rem;
  padding-top: 2.625rem;
  background-color: var(--bg-color-element);
  overflow: clip;
  z-index: -1;
}

.headerSearchSuggestion {
  padding: 0.5rem 1rem;
  transition: background-color 0.25s;

  &:hover {
    background-color: var(--dark-closer);
  }
}
