.suggestionList {
  position: absolute;
  top: 0;
  width: 100%;
  border: var(--border-size) solid var(--border-color);
  border-radius: 1.45rem;
  padding-top: 2.625rem;
  background-color: var(--bg-color-element);
  overflow: clip;
  z-index: -1;
}

.suggestion {
  transition: background-color 0.25s;
}

.suggestion:hover,
.selected {
  background-color: var(--dark-closer);
}

.suggestionLink {
  display: block;
  padding: 0.5rem 1rem;
}
