:root {
  /* Color: */

  --black: #1a1a1a;
  --dark: #222225;
  --dark-lighter: #28282cb9;
  --dark-closer: hsl(240, 4%, 18%);
  --gray: #ecebf1;
  --gray-darker: #e2e0ed;
  --light: #ffffffde;
  --paper: #ffffff;
  --ink: #213547;
  --secondary: #535bf2;
  --secondary-light: #646cff;
  --secondary-lighter: #747bff;
  --success: #53d5f2;
  --danger: #f2539d;

  --bg-color-app: var(--black);
  --bg-color-element: var(--dark);
  --border-color: var(--dark-lighter);
  --link-color-hover: var(--secondary-lighter);
  --outline-focus: var(--link-color-hover);
  --text-color: var(--light);
  --text-color-btn: var(--light);

  /* Size: */

  --line-thickness: 0.094rem;
  --border-size: 0.125rem;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color-app);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100dvh;
  text-size-adjust: none;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
  text-wrap: balance;
}

a {
  border-radius: 4rem;
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}

button {
  border: var(--border-size) solid transparent;
  border-radius: 4rem;
  background-color: transparent;
  cursor: pointer;
}

:is(a, button):focus-visible {
  outline: var(--border-size) solid var(--outline-focus);
  outline-offset: 0.25rem;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@media (prefers-color-scheme: light) {
  :root {
    --border-color: var(--gray-darker);
    --bg-color-app: var(--paper);
    --bg-color-element: var(--gray);
    --link-color-hover: var(--secondary);
    --text-color: var(--ink);
    --text-color-btn: var(--secondary);
  }
}
