:root {
  /* Color: */

  --black: #1a1a1a;
  --dark: #222225;
  --dark-lighter: #28282cb9;
  --gray: #ecebf1;
  --gray-darker: #e2e0ed;
  --light: #ffffffde;
  --paper: #ffffff;
  --ink: #213547;
  --secondary: #535bf2;
  --secondary-light: #646cff;
  --secondary-lighter: #747bff;

  --bg-color-app: var(--black);
  --bg-color-element: var(--dark);
  --border-color: var(--dark-lighter);
  --border-color-hover: var(--secondary-lighter);
  --link-color-hover: var(--secondary-lighter);
  --text-color: var(--light);
  --text-color-btn: var(--light);

  /* Size: */

  --line-thickness: 0.094rem;
  --border-size: 0.125rem;

  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica,
    arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color-app);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100dvh;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

a {
  font-weight: 500;
  color: currentColor;
  text-decoration-line: underline;
  text-decoration-thickness: var(--line-thickness);
  text-underline-offset: 0.125rem;
}

a:hover {
  color: var(--link-color-hover);
}

a:focus-visible {
  border-radius: 0.25rem;
  outline: var(--border-size) solid var(--border-color-hover);
  outline-offset: 0.25rem;
}

button {
  border: var(--border-size) solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--bg-color-element);
  color: var(--text-color-btn);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:is(:hover, :focus, :focus-visible) {
  border-color: var(--border-color-hover);
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --border-color: var(--gray-darker);
    --border-color-hover: var(--secondary);
    --bg-color-app: var(--paper);
    --bg-color-element: var(--gray);
    --link-color-hover: var(--secondary);
    --text-color: var(--ink);
    --text-color-btn: var(--secondary);
  }
}
